@import url(https://fonts.googleapis.com/css2?family=Mukta&display=swap);

body{
    background:pink;
}
.header{
    background:blue;
    font-size: 25px;
}
.header2{
    background: blue;
    font-size: 25px;
}
.header3{
    background :blue;
    font-size: 25px;
}
.header4{
    background:blue;
    font-size: 25px;
}
img {
    height: 90px; 
    width: 90px;
}
/* grid display */
.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.card{
    background: lightgrey;
}
h1{
    text-align: center;
    color: Red;
    font-family: 'Mukta', sans-serif;
}
/* grid display */
#nested{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
#flex {
    display: flex;
    flex-direction: row;
    
}
#socialmedia {
    text-align: center;
}