@import url(https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&family=Bangers&family=Roboto+Mono:wght@500&display=swap);
@import "nav.css";
@import "button.css";

body{
    background:lightgrey;
}
#container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
.nav{
    text-align: center;
}
a{
    text-align: center;
}
.head{
    text-align: center;
}
#pg{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
p{
    text-align: center;
    font-size: 12px;
}
li{
    list-style: none;
}
footer{
    display: flex;
    flex-direction: column;
}
img {
    width: 50px; 
    height: 50px;
    text-align: center;
}
h1 {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}
h2 {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}
h3 {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}
figcaption {
    color: blue;
    font-size: 12px;
}
#card {
    border: 1px black solid;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 100% ;
}
a{
    font-style: none;
}
button{
    background-color: pink;
}