body{
    background:green;
}
.header{
    background:grey;
}
.header2{
    background: lightgrey;
}
.header3{
    background: grey;
}
.header4{
    background:blue;
}
/* grid display */
.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.card{
    background: lightgrey;
}
h1{
    text-align: center;
    color: Red;
}
img{
    width: 97%;
    height:50%;
    border-radius: 25%;
}
/* card */
#card{
    border:1px solid black;
    background: grey;
    border-radius: 15%;
    text-align: center;
    line-height: 15px;
    height: 100%;
}
.cardContainer{
    height: 40%;
    width:100%;
}
/* grid display */
#nested{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}