body{
    background:green;
}
.header{
    background:grey;
}
.header2{
    background: lightgrey;
}
.header3{
    background: grey;
}
.header4{
    background:blue;
}
/* grid display */
.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.card{
    background: lightgrey;
}
h1{
    text-align: center;
    color: Red;
    font-family: 'Mukta', sans-serif;
}
/* grid display */
#nested{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}