body{
    background:green;
}
.header{
    background:grey;
}
.header2{
    background: lightgrey;
}
.header3{
    background: grey;
}
.header4{
    background:blue;
}
.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.card{
    background: lightgrey;
}
h1{
    text-align: center;
    color: Red;
}
img{
    width: 70%;
    height:70%;
}
#me{
    border:1px solid black;
}
#nested{
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
}